<div class="row">
  <div class="col-6">
    <p>Name: <%= @member.name %></p>
    <p>Url: <%= @member.url %></p>
    <p>Short Url: <%= @member.short_url %></p>
  </div>
  <div class="col-6">
    <%= form_tag(member_path(@member), :method => "get", id: "search-form") do %>
      <%= label_tag :search_string %>
      <%= text_field_tag :search_string, params[:search_string] %>
      <%= hidden_field_tag :root_member_id, @member.id %>
      <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
    <% end %>
    <hr />
    <% if !@search_results.blank? %>
      <h3>Search Results</h3>
      <ul>
        <% @search_results.each do |result| %>
          <li><%= result[:heading] %> - <%= result[:path] %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <h3>My Friendships</h3>
    <ul>
      <% @friends.each do |friend| %>
        <li><%= link_to friend.name, member_path(friend.id) %></li>
      <% end %>
    </ul>

    <hr />

    <h3>Make Friendship</h3>
    <ul>
      <% @all_members.each do |member| %>
        <li><%= member.name %> - <%= link_to "Make Friends", make_friendship_path(friend_id: member.id, id: @member.id), method: :post %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-6">
    <h3>Headings</h3>
    <ul>
      <% @headings.each do |heading| %>
        <li><%= heading.header_text %></li>
      <% end %>
    </ul>
  </div>
</div>
